
@media (max-width: 700px) {
  
  .intro{
    font-size: 0.7rem;
  }
  
  .landing {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
  
  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
  } 


  .footer .contenido_footer{
    grid-template-columns: 1fr; 
    justify-items: center;
    gap: 30px;
    padding: 10px 10px;
  }
  
  .footer-newsletter{
    display: grid;
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }

  .footer-newsletter form{
    align-items: center;
    justify-items: center;
    justify-content: center;
    align-content: center;
  }
  .suscripcion h4{
    font-size: 18px;
    text-align: center;
  }
  
  .footer .contenido_footer .footer_redes {
    text-align: center;
    font-size: 18px;
  }
  
  .copyright {
    padding-top: 20px;
    font-size: 14px;
  }
  
  .intro h1{
    font-size: 22px;
    font-weight: bolder;
  }
  
    .reglamento .pdf{
      width: 500px;
    }
  
  
  
  
    .formulario-contacto{
      padding: 0% 5%;
      border-radius: 20px;
      font-family: 'NTR', sans-serif;
    }
}
