/* Primera Entrega Sebastian Siddi */

/* ****************   Reset CSS ****************   */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a:link {
  text-decoration: none;
  color: black
}
a:visited {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: none;
  color: black
}

a:active {
  text-decoration: none;
  color: black
}


/* ****************   CSS própio ****************   */

/* ****************   Header ****************   */

#header {
  font-family: 'NTR', serif;
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 20px;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#header nav input{
  display: none;
}

#header .logo {
  font-size: small;
  color: #000000;
  margin: 0px;
  font-family: 'NTR', serif;
  padding-left: 20px;
}


#header .menu ul {
  display: flex;
  list-style: none;
  font-family: 'NTR', serif;
}

#header .menu ul li a {
  color: #000000;
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  padding: 0px 15px;
}

#header .menu ul li a:hover {
  color: white;
  background-color: #000000;
}


/* ****************   Main ****************   */

.hero {
  background: linear-gradient(0.06turn, rgb(206, 141, 141) 1%, rgb(78, 163, 232) 99%);
  font-family: 'Teko', sans-serif;
  width: 100%;
  text-align: center;
  color: #444444;
}

.intro {
  display: flex;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  font-size: smaller;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  align-content: center;
  padding: 50px 25%
}



.titulo {
  text-align: center;
  color: #444444;
  font-weight: 400;
  font-size: 50px;
}

.subtitulo {
  margin-left: 20%;
  width: 60%;
}


/* ****************   Footer ****************   */

.footer {
  font-family: "NTR", serif;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
  background: linear-gradient(to right, rgb(58, 58, 58) 0%, rgb(28, 27, 27) 100%);
}
 
.footer .contenido_footer{
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.footer .contenido_footer .footer_redes {
  text-align: right;
  font-size: 22px;
}

.footer .contenido_footer .footer_redes div ul li{
  list-style: none;
}


.footer .links_footer {
  color:white
}

.links_footer img{
  height: 25px;
}

.footer .links_footer:hover {
  color:rgb(184, 184, 184);

}

.copyright {
  text-align: center;
  font-size: 14px;
}


/* ****************   Página Inicio ****************   */

.landing {
  display: flex ;
  gap: 150px;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px 0px;
}

.landing .escudos {
  display: block;
}

.landing .escudos a img{
  height: 300px;
  width: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

.landing .escudos a img:hover{
  margin-top: -7px;
  -webkit-filter: drop-shadow(7px 7px 7px #222222);
  filter: drop-shadow(7px 7px 7px #222222);
}

.landing .escudos p{
  font-family: 'Source Sans Pro', 'Teko', sans-serif;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 25px;
  font-size: larger;
  width: fit-content;
  padding: 1px 15px;
}


/* ****************   Página Reglamento ****************   */

.reglamento{
  text-align: center;
  font-size: 20px;
  font-family: 'NTR', serif;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  gap: 50px;
  align-items:first baseline;
}

.reglamento .pdf{
  min-width: 700px;
}

.reglamento div ul li{
  list-style: none;
}


/* ****************   Página Equipo ****************   */

.profiles {
  display: flex ;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.profiles .profile_individual {
  margin: 50px;
}

.profilepic {
  width: 250px;
  border-color: #000000;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 200px 200px 200px 0px;
  -webkit-filter: drop-shadow(5px 5px 5px #222222);
  filter: drop-shadow(5px 5px 5px #222222);
}

.profilepic:hover{
  margin-top: -12px;
}

.nombres {
  background-image: url("../imgs/profiles/background_profiles.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px;
  opacity: 0.7;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}


/* ****************   Página Sponsors ****************   */

.hero div h3 {
  text-align: left;
  font-size: 30px;
  margin-left: 20%;
}

.sponsors {
  display: flex;
  flex-flow: row wrap;
  gap: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.sponsors .marcas{
  margin: 40px
}




/* ****************   Página Calendario ****************   */

.calendarios{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content:space-around;
  align-items: first baseline;
}

.calendarios div h2 img{
  height: 65px;
}

.content-fecha {
  display: flex;
  width: 360px;
  justify-content: center;
  margin: 10px;
}

.fecha-usddn{
  border: 2px solid rgb(0,74,173);
  height: 30px;
  width: 25%;
  height: 90px;
  padding: 20px;
  background-color: white;
  color: rgb(255, 0, 0);
  text-align: center;
  font-size: 20px;
}

.fecha-ddyd{
  color: RGB(12 192 223);
}

.data-fecha {
  border: 2px solid rgb(0,74,173);
  height: 30px;
  padding: 5px;
  background-color: rgb(0,74,173);
  width: 75%;
  height: 90px;
  color: white;
  text-align: left;
  font-size: 12x;
  font-family: 'NTR', sans-serif
}

.data-fecha p{
  height: 15px;
}

.data-fecha a {
  color: white;
}

.data-fecha a:hover {
  color: rgb(0, 0, 0);
}


/* ****************   Página Lugar ****************   */

.lugares {
  text-align: left;
  width: 60%;
  margin-left: 20%;
}

.lugares iframe{
  width: 90%;
  height: 450px;
  margin-bottom: 50px;
}


/* ****************  Página Contacto ****************  */

.form-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  }

.hero .form-content .formulario input{
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  padding: 5px;
  font-family: 'NTR', sans-serif;
  margin: 15px;
}

.hero .form-content .formulario textarea{
  height: 300px;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  font-family: 'NTR', sans-serif;
  border: 1px solid black;
  margin: 15px;
}

.hero .form-content .formulario #boton{
  width: 30%;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 48px;
  height: 48px;
}



.menu .fa-bars, .respmenu .fa-times {
  pointer-events: none;
}

.menu input[type="checkbox"] {
  opacity: 0;
}


.menu nav {
  display: none;
}

.menu input:checked ~ nav {
  display: block;
}

.menu input:checked ~ .fa-bars {
  display: none;
  background-color: #000000;
}

.menu input:not(:checked) ~ .fa-times {
  display: none;
}