
/* ****************   Página Sponsors ****************   */

.sub {
  text-align: left;
  font-size: 30px;
  margin-left: 20%;
}
.sponsors{
  display: flex;
  flex-flow: row wrap;
  gap: 200px;
  justify-content: center;
  align-items: center;
  align-content: center;
  .marcas{
    margin: 40px;
    a img{
      width: 350px;
    }
  }
}


