

/* ****************   Página Calendario ****************   */




.calendarios{
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content:space-around;
  align-items: first baseline;
  div h2 img{
    height: 65px;
  }
  .content-fecha {
    display: flex;
    width: 360px;
    @extend .centrado;
    margin: 10px;

    .fecha-usddn{
      border: 2px solid map-get($paleta-calendario , borde-fondo);
      height: 30px;
      width: 25%;
      height: 90px;
      padding: 20px;
      background-color: map-get($paleta-calendario, fecha-fondo);
      color: map-get($paleta-calendario , texto-fecha-usddn);
      text-align: center;
      font-size: 20px;
    }
    
    .fecha-usddn:hover{
      border: 2px solid map-get($paleta-calendario , borde-fondo);
      background-color: map-get($paleta-calendario, fecha-fondo-h);
      color: map-get($paleta-calendario, texto-usddn-h);
    }
    
    .fecha-ddyd{
      color: map-get($paleta-calendario , texto-fecha-ddyd)
    }
    
    .data-fecha {
      border: 2px solid map-get($paleta-calendario , borde-fondo);
      height: 30px;
      padding: 5px;
      background-color: map-get($paleta-calendario , borde-fondo);
      width: 75%;
      height: 90px;
      color: map-get($paleta-calendario , data-texto);
      text-align: left;
      font-size: 12x;
      font-family: 'NTR', sans-serif;
      p{height: 15px;}
      a{color: map-get($paleta-calendario , data-texto);}
      a:hover{color: map-get($paleta-calendario , link-h);}
    }
    .data-fecha:hover {
      background-color: map-get($paleta-calendario , borde-fondo-h);
      color: map-get($paleta-calendario , data-texto-h);
    }
  }
    
}



