
/* ****************  Página Contacto ****************  */

.formulario-contacto{ 
  padding: 0% 20%;
  border-radius: 20px;
  font-family: 'NTR', sans-serif;
  .campos{
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'NTR', sans-serif;
  }
}

