
/* Estilos de cuerpo de páginas - main - */

$color-fondo: linear-gradient(0.06turn, rgb(206, 141, 141) 1%, rgb(78, 163, 232) 99%);

.hero {
  background: $color-fondo;
  font-family: 'Teko', sans-serif;
  width: 100%;
  text-align: center;
  color: #444444;
  height: 100%;
  padding-bottom: 50px;
  
  .intro {
    display: flex;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    font-size: smaller;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding: 50px 25%
    }

  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 400;
    font-size: 50px;
    padding-top: 20px;
    }
  
  .subtitulo {
    margin-left: 20%;
    width: 60%;
    padding-bottom: 0px;
    }
  }



