
/* Estilos de cuerpo de páginas - main - */


.hero {
  background: $color-fondo-hero;
  font-family: 'Teko', sans-serif;
  width: 100%;
  text-align: center;
  color: #444444;
  height: 100%;
  padding-bottom: 50px;
  
  .intro {
    width: 100%;
    display: flex;
    flex-flow: column;
    @extend .centrado;
    font-family: 'Source Sans 3', sans-serif;
    font-size: smaller;
    padding: 50px 25%
    }

  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 400;
    font-size: 50px;
    padding-top: 20px;
    }
  
  .subtitulo {
    margin-left: 20%;
    width: 60%;
    padding-bottom: 0px;
    }
  }



