
/* Media Query */


@media (max-width: 700px) {
  
  
  
  /* ****************   Main ****************   */

  .landing {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  
    .intro{
    .intro__texto{
      font-size: 22px;
      font-weight: bolder;
    }
  }  
  
  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
  } 
  
  /* ****************   Footer ****************   */

  .footer{
    .contenido_footer{
      grid-template-columns: 1fr; 
      gap: 30px;
      padding: 10px 10px;
      .footer_redes {
        text-align: center;
        font-size: 18px;
      }
    }
    .suscripcion{
      h4{
        font-size: 18px;
        text-align: center;
      }
    }
    .mapa{
     text-align: center;
    }
    .copyright {
      padding-top: 20px;
      font-size: 14px;
    }
    
  }
  /* ****************   Página Reglamento ****************   */

  .reglamento{
   .pdf{
    width: 90%;
    }
  }

/* ****************   Página Sponsors ****************   */

  .sponsors{
    .marcas{
      a{
        img{
          width: 270px;
          height: auto;
        }
      }
    }
  }

  /* ****************   Página Lugar ****************   */


  .lugares {
    padding-left: 5%;
    iframe{
      width: 95%;
      }
  }
  
  /* ****************  Página Contacto ****************  */
  
  .formulario-contacto{
    padding: 0% 5%;
    border-radius: 20px;
    font-family: 'NTR', sans-serif;
  }

}