@charset "UTF-8";
/* ---------ESTILOS GENERALES------ */
/* ****************   Reset ****************   */
/* Colores Hero */
/* Colores Footer */
/* Colores Calendario */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(58, 58, 58) 0%, rgb(28, 27, 27) 100%);
}

a {
  text-decoration: none;
  color: black;
}

ol, ul {
  padding-left: 0;
}

.centrado, .calendarios .content-fecha, .sponsors, .profiles, .reglamento, .landing .escudos, .hero .intro {
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

/* Colores Hero */
/* Colores Footer */
/* Colores Calendario */
/* ****************   Header ****************   */
#header {
  font-family: "NTR", serif;
  font-weight: bolder;
}

.nav-link:hover {
  color: white !important;
  background-color: black;
}

.dropdown-menu li a:hover {
  color: white;
  background-color: black;
}

/* Estilos de cuerpo de páginas - main - */
.hero {
  background: linear-gradient(0.06turn, rgb(206, 141, 141) 1%, rgb(78, 163, 232) 99%);
  font-family: "Teko", sans-serif;
  width: 100%;
  text-align: center;
  color: #444444;
  height: 100%;
  padding-bottom: 50px;
}
.hero .intro {
  width: 100%;
  display: flex;
  flex-flow: column;
  font-family: "Source Sans 3", sans-serif;
  font-size: smaller;
  padding: 50px 25%;
}
.hero .titulo {
  text-align: center;
  color: #444444;
  font-weight: 400;
  font-size: 50px;
  padding-top: 20px;
}
.hero .subtitulo {
  margin-left: 20%;
  width: 60%;
  padding-bottom: 0px;
}

/* ****************   Footer ****************   */
.footer {
  font-family: "NTR", serif;
  font-size: 12px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.911);
  background: linear-gradient(to right, rgb(58, 58, 58) 0%, rgb(28, 27, 27) 100%);
}
.footer .contenido_footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px 30px;
  max-width: 1400px;
  margin: 0 auto;
}
.footer .contenido_footer .footer-newsletter input {
  display: block;
}
.footer .contenido_footer .footer-newsletter input:not(.btn) {
  width: 100%;
}
.footer .contenido_footer .mapa ul li {
  list-style: none;
}
.footer .contenido_footer .mapa ul li a {
  color: white;
}
.footer .contenido_footer .mapa ul li a:hover {
  color: rgb(246, 138, 138);
}
.footer .contenido_footer .footer_redes h4 {
  text-align: right;
}
.footer .contenido_footer .footer_redes ul li {
  text-align: right;
  font-size: 22px;
}
.footer .contenido_footer .footer_redes ul li a:hover {
  color: rgb(246, 138, 138);
}
.footer .contenido_footer .footer_redes div ul li {
  list-style: none;
}
.footer .contenido_footer .links_footer {
  color: rgb(255, 255, 255);
}
.footer .contenido_footer .links_footer img {
  height: 25px;
}
.footer .copyright {
  text-align: center;
  font-size: 16px;
}

/* Páginas Individuales */
/* ****************   Página Inicio ****************   */
.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.landing .escudos {
  display: grid;
  gap: 20px;
}
.landing .escudos div a {
  text-decoration: none;
  color: #000000;
}
.landing .escudos div a img {
  height: 300px;
  width: auto;
  filter: drop-shadow(5px 5px 5px #222222);
  transition: all 0.5s;
}
.landing .escudos div a img:hover {
  margin-top: -7px;
  filter: drop-shadow(7px 7px 7px #222222);
}
.landing .escudos div a p {
  font-family: "Source Sans Pro", "Teko", sans-serif;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 25px;
  font-size: larger;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1px 15px;
}

/* ****************   Página Reglamento ****************   */
.reglamento {
  text-align: center;
  font-size: 20px;
  font-family: "NTR", serif;
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  align-items: first baseline;
}
.reglamento .pdf {
  width: 700px;
}
.reglamento .pdf embed {
  width: 92%;
  height: 600px;
}
.reglamento section ul li {
  list-style: none;
}

/* ****************   Página Equipo ****************   */
.profiles {
  display: flex;
  flex-flow: row wrap;
}
.profiles .profile_individual {
  margin: 50px;
}
.profiles .profile_individual .profilepic {
  width: 250px;
  border-color: #000000;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 200px 200px 200px 0px;
  filter: drop-shadow(5px 5px 5px #222222);
}
.profiles .profile_individual #ailen {
  background-size: 360px;
}
.profiles .profile_individual #mercedes {
  background-size: 270px;
}
.profiles .profile_individual .nombres {
  background-image: url("../imgs/profiles/background_profiles.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px;
  opacity: 0.7;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}
.profiles .profile_individual .profilepic:hover {
  margin-top: -12px;
}

/* ****************   Página Sponsors ****************   */
.sub {
  text-align: left;
  font-size: 30px;
  margin-left: 20%;
}

.sponsors {
  display: flex;
  flex-flow: row wrap;
  gap: 200px;
}
.sponsors .marcas {
  margin: 40px;
}
.sponsors .marcas a img {
  width: 350px;
}

/* ****************   Página Calendario ****************   */
.calendarios {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: space-around;
  align-items: first baseline;
}
.calendarios div h2 img {
  height: 65px;
}
.calendarios .content-fecha {
  display: flex;
  width: 360px;
  margin: 10px;
}
.calendarios .content-fecha .fecha-usddn {
  border: 2px solid rgb(0, 74, 173);
  height: 30px;
  width: 25%;
  height: 90px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(255, 63, 63);
  text-align: center;
  font-size: 20px;
}
.calendarios .content-fecha .fecha-usddn:hover {
  border: 2px solid rgb(0, 74, 173);
  background-color: rgb(209, 208, 208);
  color: rgb(42, 127, 247);
}
.calendarios .content-fecha .fecha-ddyd {
  color: rgb(12, 192, 223);
}
.calendarios .content-fecha .data-fecha {
  border: 2px solid rgb(0, 74, 173);
  height: 30px;
  padding: 5px;
  background-color: rgb(0, 74, 173);
  width: 75%;
  height: 90px;
  color: white;
  text-align: left;
  font-size: 12x;
  font-family: "NTR", sans-serif;
}
.calendarios .content-fecha .data-fecha p {
  height: 15px;
}
.calendarios .content-fecha .data-fecha a {
  color: white;
}
.calendarios .content-fecha .data-fecha a:hover {
  color: black;
}
.calendarios .content-fecha .data-fecha:hover {
  background-color: rgba(31, 128, 254, 0.877);
  color: rgb(228, 228, 228);
}

/* ****************   Página Lugar ****************   */
.lugares {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
  padding-left: 20%;
  gap: 50px;
}
.lugares iframe {
  width: 80%;
  height: 450px;
  border: 0;
}

/* ****************  Página Contacto ****************  */
.formulario-contacto {
  padding: 0%;
  margin: 0 auto;
  border-radius: 20px;
  font-family: "NTR", sans-serif;
  width: 80%;
  max-width: 900px;
}
.formulario-contacto .campos {
  border: 1px solid black;
  border-radius: 20px;
  font-family: "NTR", sans-serif;
}

/* Responsive */
/* Media Query */
/*---------------- MOBILE ----------------- */
@media (max-width: 700px) {
  /* **************** Main Mobile **************** */
  .landing {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .intro .intro__texto {
    font-size: 22px;
    font-weight: bolder;
  }
  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
  }
  /* **************** Footer Mobile **************** */
  .footer .contenido_footer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 10px 10px;
  }
  .footer .contenido_footer .footer-newsletter {
    margin: 0 auto;
  }
  .footer .contenido_footer .footer-newsletter input {
    margin: 0 auto;
  }
  .footer .contenido_footer .footer-newsletter label h4 {
    text-align: center;
  }
  .footer .contenido_footer .footer_redes {
    font-size: 18px;
  }
  .footer .contenido_footer .footer_redes h4 {
    text-align: center;
  }
  .footer .contenido_footer .footer_redes ul li {
    text-align: center;
  }
  .footer .suscripcion h4 {
    font-size: 18px;
    text-align: center;
  }
  .footer .mapa {
    text-align: center;
    font-size: 20px;
  }
  .footer .copyright {
    padding-top: 20px;
    font-size: 14px;
  }
  /* ***************** Equipo Mobile ***************** */
  .profiles {
    display: flex;
    flex-flow: row wrap;
  }
  /* ****************  Reglamento Mobile **************** */
  .reglamento .pdf {
    width: 90%;
  }
  /* **************** Sponsors Mobile **************** */
  .sponsors .marcas a img {
    width: 270px;
    height: auto;
  }
  /* **************** Lugar Mobile **************** */
  .lugares {
    padding-left: 5%;
  }
  .lugares iframe {
    width: 95%;
  }
  /* **************** Contacto Mobile **************** */
  .formulario-contacto {
    width: 90%;
  }
}
/* ----------------- TABLET ------------------- */
@media (max-width: 1024px) and (min-width: 701px) {
  /* **************** Footer Tablet ***************** */
  .footer .contenido_footer {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 10px 10px;
  }
  .footer .contenido_footer .footer-newsletter {
    width: 600px;
    margin: 0 auto;
  }
  .footer .contenido_footer .footer-newsletter input {
    margin: 0 auto;
  }
  .footer .contenido_footer .footer-newsletter input:not(.btn) {
    max-width: 80%;
  }
  .footer .contenido_footer .footer-newsletter label h4 {
    text-align: center;
  }
  .footer .contenido_footer .footer_redes {
    font-size: 18px;
  }
  .footer .contenido_footer .footer_redes h4 {
    text-align: center;
  }
  .footer .contenido_footer .footer_redes ul li {
    text-align: center;
  }
  .footer .suscripcion h4 {
    font-size: 20px;
    text-align: center;
  }
  .footer .mapa {
    text-align: center;
    font-size: 20px;
  }
  .footer .copyright {
    padding-top: 20px;
    font-size: 14px;
  }
  /* ***************** Landing Tablet ***************** */
  .landing {
    gap: 40px;
  }
  .intro .intro__texto {
    font-size: 26px;
    font-weight: bolder;
  }
  .titulo {
    text-align: center;
    color: #444444;
    font-weight: 200;
    font-size: 30px;
    padding-top: 20px;
  }
  /* *****************  Equipo Tablet ***************** */
  .profiles .profile_individual {
    margin: 40px;
  }
  .profiles .profile_individual .profilepic {
    width: 200px;
  }
  .profiles .profile_individual #ailen {
    background-size: 260px;
  }
  .profiles .profile_individual #mercedes {
    background-size: 170px;
  }
  .profiles .profile_individual .nombres {
    background-size: 145px;
  }
  .profiles .profile_individual .nombres h4, .profiles .profile_individual .nombres h5 {
    font-size: 12px;
  }
  /* ****************  Contacto Tablet **************** */
  .formulario-contacto {
    width: 85%;
  }
}
/* Medida para ajustar página de EQUIPO entre Tablet y Mobile */
@media (max-width: 856px) and (min-width: 701px) {
  .profiles {
    display: block;
  }
  .profiles .profile_individual {
    margin: 50px;
  }
  .profiles .profile_individual .profilepic {
    width: 250px;
  }
  .profiles .profile_individual #ailen {
    background-size: 360px;
  }
  .profiles .profile_individual #mercedes {
    background-size: 270px;
  }
  .profiles .profile_individual .nombres {
    background-size: 220px;
  }
  .profiles .profile_individual .nombres h4, .profiles .profile_individual .nombres h5 {
    font-size: 18px;
  }
}
/* Animaciones */
/* Animaciones */
@keyframes logo-colores {
  0% {
    color: black;
  }
  50% {
    color: rgb(177, 175, 175);
    filter: drop-shadow(7px 7px 7px #222222);
  }
  100% {
    color: black;
  }
}
.logo-animado {
  animation: logo-colores 8s linear 1s infinite normal;
}/*# sourceMappingURL=main.css.map */